{{# is_dev }}
	<script src="scripts/main.js"></script>
	<script src="http://localhost:35729/livereload.js"></script>
{{/ is_dev }}

{{^ is_dev }}
	<script src="scripts/main.min.js"></script>
{{/ is_dev }}

</body>
</html>
