<header id="header">

	<nav class="navbar is-black is-fixed-top">
		<div class="container">

		  <div class="navbar-brand">
		    <a class="navbar-item" href="/">
		      <h3><strong>Starter</strong></h3>
		    </a>
		  </div>

		  <div id="" class="navbar-menu">
		    <div class="navbar-start">

		    </div>

		    <div class="navbar-end">
					{{# navLinks }}
						<a href="{{ link }}" class="navbar-item {{ active }}">{{ title }}</a>
					{{/ navLinks }}
		    </div>
		  </div>

		</div>
	</nav>

</header>
