<!DOCTYPE HTML>
<html class="has-navbar-fixed-top" lang="en">

<head>
	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16" />
    <title>{{ pageMeta.title }}</title>
    <meta name="description" content="{{ pageMeta.description }}">
		<link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css"/>
    {{#if is_dev }}
        <link rel="stylesheet" href="/styles/main.min.css"/>
    {{else}}
        <link rel="stylesheet" href="/styles/main.css"/>
    {{/if}}
</head>
<body>



    <div id="barba-wrapper">
			{{> header }}
    	<div class="barba-container">

            {{{ body }}}

        </div>
    </div>

    {{> footer }}

    {{#if is_dev }}
        <script src="scripts/main.js"></script>
        <script src="http://localhost:35729/livereload.js"></script>
    {{else}}
        <script src="scripts/main.min.js"></script>
    {{/if}}

</body>
</html>
