@import '../../node_modules/bulma/sass/utilities/initial-variables';
@import '../../node_modules/bulma/bulma';

$family-serif: "Times", serif;
$family-sans-serif: "Helvetica Neue", Arial, sans-serif;
$family-primary: $family-sans-serif;

.barba-container {
		animation: text-focus-in 1s cubic-bezier(.55, .085, .68, .53) both;
}

.slide-in-bottom {
	  animation: slide-in-bottom .5s cubic-bezier(.25, .46, .45, .94) both;
}

.text-focus-in {
	  animation: text-focus-in 1s cubic-bezier(.55, .085, .68, .53) both;
}


@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
