{{> header }}

<section class="section" id="error">
    <div class="container">

        <p>We're sorry, but something has gone wrong. Please try back soon</p>
        
    </div>
</section>

{{> footer }}